In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv('Trials.csv')

In [3]:
corrMatrix = df.corr()

In [4]:
df.head(5)

,id,name,screen_name,fav_number,statuses_count,followers_count,friends_count,favourites_count,listed_count,created_at,...,profile_sidebar_fill_color,profile_background_image_url,profile_background_color,profile_link_color,utc_offset,protected,verified,description,updated,dataset
0,3610511,Davide Dellacasa,braddd,0,20370,5470,2385,145,52,Fri Apr 06 10:58:22 +0000 2007,...,FFF7CC,http://a0.twimg.com/profile_background_images/...,BADFCD,FF0000,3600.0,NaN,NaN,Founder of http://www.screenweek.it & http://w...,2/14/2015 10:54,1
1,5656162,Simone Economo,eKoeS,68,3131,506,381,9,40,Mon Apr 30 15:08:42 +0000 2007,...,DDEEF6,http://a0.twimg.com/images/themes/theme1/bg.png,C0DEED,0084B4,3600.0,NaN,NaN,BSc degree (cum laude) in Computer Engineering...,2/14/2015 10:54,1
2,5682702,tacone,tacone_,7696,4024,264,87,323,16,Tue May 01 11:53:40 +0000 2007,...,0,http://a0.twimg.com/profile_background_images/...,1A1B1F,2FC2EF,3600.0,NaN,NaN,Cogito ergo bestemmio.,2/14/2015 10:54,1
3,6067292,alesaura,alesstar,202,40586,640,622,1118,32,Tue May 15 16:55:16 +0000 2007,...,95E8EC,http://a0.twimg.com/images/themes/theme4/bg.gif,0099B9,0099B9,3600.0,NaN,NaN,"Se la vita ti dà sarde, scapocciale!",2/14/2015 10:54,1
4,6015122,Angelo,PerDiletto,37318,2016,62,64,13,0,Sun May 13 19:52:00 +0000 2007,...,F6F6F6,http://a0.twimg.com/images/themes/theme18/bg.gif,ACDED6,38543,3600.0,NaN,NaN,Je me souviens,2/14/2015 10:54,1

In [5]:
df.dtypes

id                                      int64
name                                   object
screen_name                            object
fav_number                              int64
statuses_count                          int64
followers_count                         int64
friends_count                           int64
favourites_count                        int64
listed_count                            int64
created_at                             object
url                                    object
lang                                   object
time_zone                              object
location                               object
default_profile                       float64
default_profile_image                 float64
geo_enabled                           float64
profile_image_url                      object
profile_banner_url                     object
profile_use_background_image          float64
profile_background_image_url_https     object
profile_text_color                     object
profile_image_url_https                object
profile_sidebar_border_color           object
profile_background_tile               float64
profile_sidebar_fill_color             object
profile_background_image_url           object
profile_background_color               object
profile_link_color                     object
utc_offset                            float64
protected                             float64
verified                              float64
description                            object
updated                                object
dataset                                 int64
dtype: object

In [6]:
df.isnull().sum()

id                                       0
name                                     0
screen_name                              0
fav_number                               0
statuses_count                           0
followers_count                          0
friends_count                            0
favourites_count                         0
listed_count                             0
created_at                               0
url                                   2355
lang                                     0
time_zone                             1749
location                               547
default_profile                       1090
default_profile_image                 2810
geo_enabled                           2097
profile_image_url                        0
profile_banner_url                    1831
profile_use_background_image            58
profile_background_image_url_https       0
profile_text_color                       0
profile_image_url_https                  0
profile_sidebar_border_color             0
profile_background_tile               2329
profile_sidebar_fill_color               0
profile_background_image_url             0
profile_background_color                 0
profile_link_color                       0
utc_offset                            1749
protected                             2818
verified                              2818
description                            271
updated                                  0
dataset                                  0
dtype: int64

In [7]:
df['utc_offset'] = df['utc_offset'].fillna(df['utc_offset'].mean())

In [8]:
df.isnull().sum()

id                                       0
name                                     0
screen_name                              0
fav_number                               0
statuses_count                           0
followers_count                          0
friends_count                            0
favourites_count                         0
listed_count                             0
created_at                               0
url                                   2355
lang                                     0
time_zone                             1749
location                               547
default_profile                       1090
default_profile_image                 2810
geo_enabled                           2097
profile_image_url                        0
profile_banner_url                    1831
profile_use_background_image            58
profile_background_image_url_https       0
profile_text_color                       0
profile_image_url_https                  0
profile_sidebar_border_color             0
profile_background_tile               2329
profile_sidebar_fill_color               0
profile_background_image_url             0
profile_background_color                 0
profile_link_color                       0
utc_offset                               0
protected                             2818
verified                              2818
description                            271
updated                                  0
dataset                                  0
dtype: int64

In [9]:
cols_to_drop = ['url', 'lang', 'location', 'default_profile',
       'default_profile_image', 'geo_enabled', 'profile_image_url',
       'profile_banner_url', 'profile_use_background_image',
       'profile_background_image_url_https', 
       'profile_image_url_https', 'profile_sidebar_border_color',
       'profile_background_tile', 'profile_sidebar_fill_color',
       'profile_background_image_url', 'protected', 'verified',
       'description', 'updated']

In [10]:
df = df.drop(cols_to_drop , axis = 1)

In [11]:
df

,id,name,screen_name,fav_number,statuses_count,followers_count,friends_count,favourites_count,listed_count,created_at,time_zone,profile_text_color,profile_background_color,profile_link_color,utc_offset,dataset
0,3610511,Davide Dellacasa,braddd,0,20370,5470,2385,145,52,Fri Apr 06 10:58:22 +0000 2007,Rome,0C3E53,BADFCD,FF0000,3600.00000,1
1,5656162,Simone Economo,eKoeS,68,3131,506,381,9,40,Mon Apr 30 15:08:42 +0000 2007,Rome,333333,C0DEED,0084B4,3600.00000,1
2,5682702,tacone,tacone_,7696,4024,264,87,323,16,Tue May 01 11:53:40 +0000 2007,Rome,666666,1A1B1F,2FC2EF,3600.00000,1
3,6067292,alesaura,alesstar,202,40586,640,622,1118,32,Tue May 15 16:55:16 +0000 2007,Rome,3C3940,0099B9,0099B9,3600.00000,1
4,6015122,Angelo,PerDiletto,37318,2016,62,64,13,0,Sun May 13 19:52:00 +0000 2007,Rome,333333,ACDED6,38543,3600.00000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2813,1391497074,Verda Marks,VerdaMarks1,523,1,0,17,0,0,Tue Apr 30 08:23:57 +0000 2013,NaN,333333,C0DEED,0084B4,1478.39102,2
2814,1391544607,Danial Campbell,DanialCampbell2,0,0,1,17,0,0,Tue Apr 30 08:34:49 +0000 2013,NaN,333333,C0DEED,0084B4,1478.39102,2
2815,1391622127,Maudie Meyer,MaudieMeyer1,327,2,0,15,0,0,Tue Apr 30 09:21:12 +0000 2013,NaN,333333,C0DEED,0084B4,1478.39102,2
2816,1391832212,Harriett Harvey,HarriettHarvey9,251,2,0,16,0,0,Tue Apr 30 11:25:11 +0000 2013,NaN,333333,C0DEED,0084B4,1478.39102,2
2817,1391998039,Gillian Wheeler,GillianWheeler3,35222,0,0,17,0,0,Tue Apr 30 12:47:51 +0000 2013,NaN,333333,C0DEED,0084B4,1478.39102,2

In [12]:
df.isnull().sum()

id                             0
name                           0
screen_name                    0
fav_number                     0
statuses_count                 0
followers_count                0
friends_count                  0
favourites_count               0
listed_count                   0
created_at                     0
time_zone                   1749
profile_text_color             0
profile_background_color       0
profile_link_color             0
utc_offset                     0
dataset                        0
dtype: int64

In [13]:
df['created_at'] = pd.to_datetime(df.created_at)

In [14]:
df['Year'] = df.created_at.dt.year

In [15]:
df['Month'] = df.created_at.dt.month

In [16]:
df['Time'] = df.created_at.dt.time

In [17]:
df

,id,name,screen_name,fav_number,statuses_count,followers_count,friends_count,favourites_count,listed_count,created_at,time_zone,profile_text_color,profile_background_color,profile_link_color,utc_offset,dataset,Year,Month,Time
0,3610511,Davide Dellacasa,braddd,0,20370,5470,2385,145,52,2007-04-06 10:58:22+00:00,Rome,0C3E53,BADFCD,FF0000,3600.00000,1,2007,4,10:58:22
1,5656162,Simone Economo,eKoeS,68,3131,506,381,9,40,2007-04-30 15:08:42+00:00,Rome,333333,C0DEED,0084B4,3600.00000,1,2007,4,15:08:42
2,5682702,tacone,tacone_,7696,4024,264,87,323,16,2007-05-01 11:53:40+00:00,Rome,666666,1A1B1F,2FC2EF,3600.00000,1,2007,5,11:53:40
3,6067292,alesaura,alesstar,202,40586,640,622,1118,32,2007-05-15 16:55:16+00:00,Rome,3C3940,0099B9,0099B9,3600.00000,1,2007,5,16:55:16
4,6015122,Angelo,PerDiletto,37318,2016,62,64,13,0,2007-05-13 19:52:00+00:00,Rome,333333,ACDED6,38543,3600.00000,1,2007,5,19:52:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2813,1391497074,Verda Marks,VerdaMarks1,523,1,0,17,0,0,2013-04-30 08:23:57+00:00,NaN,333333,C0DEED,0084B4,1478.39102,2,2013,4,08:23:57
2814,1391544607,Danial Campbell,DanialCampbell2,0,0,1,17,0,0,2013-04-30 08:34:49+00:00,NaN,333333,C0DEED,0084B4,1478.39102,2,2013,4,08:34:49
2815,1391622127,Maudie Meyer,MaudieMeyer1,327,2,0,15,0,0,2013-04-30 09:21:12+00:00,NaN,333333,C0DEED,0084B4,1478.39102,2,2013,4,09:21:12
2816,1391832212,Harriett Harvey,HarriettHarvey9,251,2,0,16,0,0,2013-04-30 11:25:11+00:00,NaN,333333,C0DEED,0084B4,1478.39102,2,2013,4,11:25:11
2817,1391998039,Gillian Wheeler,GillianWheeler3,35222,0,0,17,0,0,2013-04-30 12:47:51+00:00,NaN,333333,C0DEED,0084B4,1478.39102,2,2013,4,12:47:51

In [18]:
df.dtypes

id                                        int64
name                                     object
screen_name                              object
fav_number                                int64
statuses_count                            int64
followers_count                           int64
friends_count                             int64
favourites_count                          int64
listed_count                              int64
created_at                  datetime64[ns, UTC]
time_zone                                object
profile_text_color                       object
profile_background_color                 object
profile_link_color                       object
utc_offset                              float64
dataset                                   int64
Year                                      int64
Month                                     int64
Time                                     object
dtype: object

In [19]:
from sklearn import preprocessing

In [20]:
le = preprocessing.LabelEncoder()

In [21]:
le.fit(df['screen_name'])

LabelEncoder()

In [22]:
df['screen_name'] = le.transform(df['screen_name'])

In [23]:
le = preprocessing.LabelEncoder()

In [24]:
le.fit(df['name'])

LabelEncoder()

In [25]:
df['name'] = le.transform(df['name'])

In [26]:
le = preprocessing.LabelEncoder()

In [27]:
le.fit(df['Time'])

LabelEncoder()

In [28]:
df['Time'] = le.transform(df['Time'])

In [29]:
le = preprocessing.LabelEncoder()

In [30]:
le.fit(df['id'])

LabelEncoder()

In [31]:
df['id'] = le.transform(df['id'])

In [32]:
le = preprocessing.LabelEncoder()

In [33]:
le.fit(df['profile_background_color'])

LabelEncoder()

In [34]:
df['profile_background_color'] = le.transform(df['profile_background_color'])

In [35]:
le = preprocessing.LabelEncoder()

In [36]:
le.fit(df['profile_link_color'])

LabelEncoder()

In [37]:
df['profile_link_color'] = le.transform(df['profile_link_color'])

In [38]:
le = preprocessing.LabelEncoder()

In [39]:
le.fit(df['profile_text_color'])

LabelEncoder()

In [40]:
df['profile_text_color'] = le.transform(df['profile_text_color'])

In [41]:
le = preprocessing.LabelEncoder()

In [42]:
le.fit(df['utc_offset'])

LabelEncoder()

In [43]:
df['utc_offset'] = le.transform(df['utc_offset'])

In [44]:
le = preprocessing.LabelEncoder()

In [45]:
le.fit(df['followers_count'])

LabelEncoder()

In [46]:
df['followers_count'] = le.transform(df['followers_count'])

In [47]:
le = preprocessing.LabelEncoder()

In [48]:
le.fit(df['statuses_count'])

LabelEncoder()

In [49]:
df['statuses_count'] = le.transform(df['statuses_count'])

In [50]:
le = preprocessing.LabelEncoder()

In [51]:
le.fit(df['favourites_count'])

LabelEncoder()

In [52]:
df['favourites_count'] = le.transform(df['favourites_count'])

In [53]:
le = preprocessing.LabelEncoder()

In [54]:
le.fit(df['listed_count'])

LabelEncoder()

In [55]:
df['listed_count'] = le.transform(df['listed_count'])

In [56]:
df.head(2)

,id,name,screen_name,fav_number,statuses_count,followers_count,friends_count,favourites_count,listed_count,created_at,time_zone,profile_text_color,profile_background_color,profile_link_color,utc_offset,dataset,Year,Month,Time
0,0,573,1106,0,1207,531,2385,133,46,2007-04-06 10:58:22+00:00,Rome,7,160,356,9,1,2007,4,763
1,1,2251,1409,68,891,358,381,9,39,2007-04-30 15:08:42+00:00,Rome,43,166,10,9,1,2007,4,1282

In [57]:
df.columns

Index(['id', 'name', 'screen_name', 'fav_number', 'statuses_count',
       'followers_count', 'friends_count', 'favourites_count', 'listed_count',
       'created_at', 'time_zone', 'profile_text_color',
       'profile_background_color', 'profile_link_color', 'utc_offset',
       'dataset', 'Year', 'Month', 'Time'],
      dtype='object')

In [58]:
feature_df = df[['statuses_count','followers_count', 'friends_count', 'favourites_count', 'listed_count','Year']]

In [59]:
feature_df.dtypes

statuses_count      int64
followers_count     int64
friends_count       int64
favourites_count    int64
listed_count        int64
Year                int64
dtype: object

In [129]:
X = df[['statuses_count',
       'followers_count', 'friends_count', 'favourites_count', 'listed_count','Year','id','Month']]

In [130]:
#,'id', 'Month','Year','name','profile_background_color','profile_link_color','profile_text_color', 'utc_offset'

In [131]:
X.dtypes

statuses_count      int64
followers_count     int64
friends_count       int64
favourites_count    int64
listed_count        int64
Year                int64
id                  int64
Month               int64
dtype: object

In [132]:
y = df[['dataset']]

In [133]:
knn = KNeighborsClassifier(n_neighbors = 53 , p = 2, metric = 'euclidean' )

In [134]:
df.shape

(2818, 19)

In [135]:
knn.fit(X,y)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='euclidean',
                     metric_params=None, n_jobs=None, n_neighbors=53, p=2,
                     weights='uniform')

In [136]:
y_pred = knn.predict(X)

In [137]:
y.values

array([[1],
       [1],
       [1],
       ...,
       [2],
       [2],
       [2]], dtype=int64)

In [138]:
y_pred = pd.DataFrame(data = [y_pred,y.values])

In [139]:
y_pred

,0,1,2,3,4,5,6,7,8,9,...,2808,2809,2810,2811,2812,2813,2814,2815,2816,2817
0,1,1,1,1,1,1,1,1,1,1,...,2,2,2,2,2,2,2,2,2,2
1,[1],[1],[1],[1],[1],[1],[1],[1],[1],[1],...,[2],[2],[2],[2],[2],[2],[2],[2],[2],[2]

In [140]:
y_pred.transpose()

      0    1
0     1  [1]
1     1  [1]
2     1  [1]
3     1  [1]
4     1  [1]
...  ..  ...
2813  2  [2]
2814  2  [2]
2815  2  [2]
2816  2  [2]
2817  2  [2]

[2818 rows x 2 columns]

In [141]:
from sklearn.model_selection import train_test_split

In [142]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state = 4)

In [143]:
knn.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='euclidean',
                     metric_params=None, n_jobs=None, n_neighbors=53, p=2,
                     weights='uniform')

In [144]:
y_pred = knn.predict(X_test)

In [145]:
y_pred

array([2, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 2, 2, 1, 2, 2, 2, 1, 1, 2, 1, 1,
       1, 1, 2, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 2, 1, 1, 2, 2, 1, 1, 1, 2,
       1, 2, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 2, 1,
       2, 1, 2, 1, 2, 2, 2, 1, 2, 1, 1, 2, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1,
       2, 1, 2, 1, 1, 2, 1, 2, 2, 1, 2, 2, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1,
       1, 2, 2, 2, 2, 2, 2, 1, 2, 1, 2, 1, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2,
       1, 2, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 2, 1, 1, 2, 2, 1, 2, 2, 2, 2,
       1, 2, 1, 1, 2, 1, 2, 2, 2, 2, 1, 2, 2, 2, 2, 1, 2, 1, 2, 2, 2, 1,
       1, 1, 2, 1, 1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 1, 2, 1, 1, 1, 1,
       1, 1, 2, 1, 1, 1, 2, 1, 2, 2, 1, 1, 2, 2, 1, 1, 2, 2, 1, 1, 2, 1,
       2, 2, 1, 1, 2, 2, 2, 1, 2, 1, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 2,
       2, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 2, 1, 2, 2,
       2, 1, 2, 1, 1, 2, 1, 2, 2, 2, 2, 2, 1, 2, 1, 2, 1, 1, 1, 1, 1, 2,
       1, 2, 1, 2, 2, 1, 2, 2, 1, 2, 1, 1, 1, 2, 2, 2, 1, 1, 1, 1, 1, 1,
       2, 1, 1, 2, 1, 2, 2, 1, 2, 1, 1, 2, 2, 1, 2, 2, 1, 1, 2, 1, 1, 1,
       1, 2, 1, 2, 1, 2, 2, 2, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2,
       2, 1, 2, 2, 2, 2, 1, 1, 2, 1, 2, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 2,
       1, 2, 2, 2, 2, 2, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 2, 1, 1, 2, 1,
       1, 2, 1, 1, 2, 1, 1, 2, 2, 2, 1, 2, 1, 2, 1, 2, 2, 2, 2, 2, 1, 2,
       2, 2, 2, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 2, 2,
       2, 1, 2, 1, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1, 2,
       2, 2, 1, 1, 2, 2, 1, 1, 2, 2, 1, 1, 2, 2, 1, 1, 2, 1, 1, 1, 2, 2,
       2, 1, 2, 1, 1, 1, 1, 2, 1, 2, 1, 2, 2, 1, 1, 2, 1, 2, 2, 1, 1, 2,
       2, 1, 2, 1, 2, 1, 1, 2, 2, 2, 2, 2, 2, 1, 1, 1, 2, 2, 1, 1, 1, 1,
       1, 2, 2, 2, 2, 1, 1, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 1, 2,
       2, 2, 2, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 2], dtype=int64)

In [146]:
y_test.values

array([[2],
       [1],
       [1],
       [2],
       [1],
       [1],
       [1],
       [1],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [1],
       [2],
       [1],
       [1],
       [1],
       [1],
       [2],
       [1],
       [2],
       [1],
       [1],
       [1],
       [2],
       [1],
       [1],
       [1],
       [2],
       [2],
       [1],
       [1],
       [2],
       [2],
       [1],
       [1],
       [1],
       [2],
       [1],
       [2],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [1],
       [1],
       [1],
       [1],
       [2],
       [1],
       [2],
       [1],
       [1],
       [1],
       [2],
       [1],
       [2],
       [2],
       [2],
       [1],
       [2],
       [1],
       [1],
       [2],
       [1],
       [2],
       [1],
       [1],
       [1],
       [2],
       [1],
       [1],
       [1],
       [1],
       [2],
       [1],
       [2],
       [1],
       [1],
       [2],
       [1],
       [1],
       [2],
       [1],
       [1],
       [2],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [1],
       [1],
       [2],
       [1],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [1],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [1],
       [1],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [1],
       [1],
       [1],
       [2],
       [1],
       [1],
       [2],
       [1],
       [1],
       [2],
       [2],
       [1],
       [1],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [1],
       [1],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [1],
       [2],
       [2],
       [2],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [2],
       [1],
       [1],
       [2],
       [2],
       [1],
       [1],
       [2],
       [2],
       [1],
       [1],
       [2],
       [1],
       [2],
       [2],
       [1],
       [1],
       [2],
       [2],
       [2],
       [1],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [1],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [1],
       [2],
       [1],
       [2],
       [1],
       [2],
       [1],
       [2],
       [1],
       [1],
       [1],
       [1],
       [2],
       [1],
       [2],
       [1],
       [2],
       [2],
       [2],
       [1],
       [2],
       [1],
       [1],
       [1],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [1],
       [2],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [1],
       [2],
       [1],
       [2],
       [2],
       [1],
       [2],
       [2],
       [1],
       [2],
       [1],
       [1],
       [1],
       [2],
       [2],
       [2],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [1],
       [1],
       [2],
       [1],
       [2],
       [2],
       [1],
       [2],
       [1],
       [1],
       [2],
       [2],
       [1],
       [2],
       [2],
       [1],
       [1],
       [2],
       [1],
       [1],
       [1],
       [1],
       [2],
       [1],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [1],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [1],
       [1],
       [2],
       [1],
       [2],
       [1],
       [1],
       [2],
       [1],
       [2],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [1],
       [1],
       [1],
       [2],
       [1],
       [1],
       [2],
       [1],
       [1],
       [1],
       [2],
       [1],
       [1],
       [2],
       [1],
       [1],
       [2],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [2],
       [2],
       [1],
       [2],
       [1],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [1],
       [2],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [1],
       [2],
       [1],
       [1],
       [1],
       [2],
       [2],
       [2],
       [1],
       [2],
       [1],
       [1],
       [1],
       [2],
       [1],
       [2],
       [2],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [2],
       [1],
       [1],
       [1],
       [1],
       [2],
       [2],
       [2],
       [1],
       [1],
       [2],
       [2],
       [1],
       [1],
       [2],
       [2],
       [1],
       [1],
       [2],
       [2],
       [1],
       [1],
       [2],
       [1],
       [1],
       [1],
       [2],
       [2],
       [2],
       [1],
       [2],
       [1],
       [1],
       [1],
       [1],
       [2],
       [1],
       [2],
       [1],
       [2],
       [2],
       [1],
       [1],
       [2],
       [1],
       [2],
       [2],
       [1],
       [1],
       [2],
       [2],
       [1],
       [2],
       [1],
       [1],
       [1],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [1],
       [1],
       [2],
       [2],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [2],
       [2],
       [2],
       [1],
       [1],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [1],
       [2],
       [1],
       [1],
       [1],
       [1],
       [2],
       [1],
       [2]], dtype=int64)

In [147]:
prediction_value = pd.DataFrame(data = [y_pred,y_test.values])

In [148]:
prediction_value

,0,1,2,3,4,5,6,7,8,9,...,554,555,556,557,558,559,560,561,562,563
0,2,1,1,2,1,1,1,1,2,1,...,2,1,2,1,1,1,1,2,1,2
1,[2],[1],[1],[2],[1],[1],[1],[1],[2],[1],...,[2],[1],[2],[1],[1],[1],[1],[2],[1],[2]

In [149]:
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [150]:
print(classification_report(y_pred,y_test.values))

              precision    recall  f1-score   support

           1       0.96      0.99      0.97       287
           2       0.99      0.95      0.97       277

    accuracy                           0.97       564
   macro avg       0.97      0.97      0.97       564
weighted avg       0.97      0.97      0.97       564

In [151]:
print('Accuracy Score:' ,accuracy_score(y_pred,y_test.values))

Accuracy Score: 0.973404255319149