In [36]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [37]:
df = pd.read_csv('Trials.csv')

In [38]:
df.head(2)

,id,name,screen_name,fav_number,statuses_count,followers_count,friends_count,favourites_count,listed_count,created_at,...,profile_sidebar_fill_color,profile_background_image_url,profile_background_color,profile_link_color,utc_offset,protected,verified,description,updated,dataset
0,3610511,Davide Dellacasa,braddd,0,20370,5470,2385,145,52,Fri Apr 06 10:58:22 +0000 2007,...,FFF7CC,http://a0.twimg.com/profile_background_images/...,BADFCD,FF0000,3600.0,NaN,NaN,Founder of http://www.screenweek.it & http://w...,2/14/2015 10:54,1
1,5656162,Simone Economo,eKoeS,68,3131,506,381,9,40,Mon Apr 30 15:08:42 +0000 2007,...,DDEEF6,http://a0.twimg.com/images/themes/theme1/bg.png,C0DEED,0084B4,3600.0,NaN,NaN,BSc degree (cum laude) in Computer Engineering...,2/14/2015 10:54,1

# Making new columns from created_at

In [39]:
df['created_at'] = pd.to_datetime(df.created_at)

In [40]:
df['Year'] = df.created_at.dt.year

In [41]:
df['Month'] = df.created_at.dt.month

In [42]:
df['Time'] = df.created_at.dt.time

In [43]:
df.head(2)

,id,name,screen_name,fav_number,statuses_count,followers_count,friends_count,favourites_count,listed_count,created_at,...,profile_link_color,utc_offset,protected,verified,description,updated,dataset,Year,Month,Time
0,3610511,Davide Dellacasa,braddd,0,20370,5470,2385,145,52,2007-04-06 10:58:22+00:00,...,FF0000,3600.0,NaN,NaN,Founder of http://www.screenweek.it & http://w...,2/14/2015 10:54,1,2007,4,10:58:22
1,5656162,Simone Economo,eKoeS,68,3131,506,381,9,40,2007-04-30 15:08:42+00:00,...,0084B4,3600.0,NaN,NaN,BSc degree (cum laude) in Computer Engineering...,2/14/2015 10:54,1,2007,4,15:08:42

# Label Encoding

In [44]:
from sklearn import preprocessing

In [45]:
le = preprocessing.LabelEncoder()

In [46]:
le.fit(df['name'])

LabelEncoder()

In [47]:
df['name'] = le.transform(df['name'])

In [48]:
le = preprocessing.LabelEncoder()

In [49]:
le.fit(df['screen_name'])

LabelEncoder()

In [50]:
df['screen_name'] = le.transform(df['screen_name'])

In [60]:
le = preprocessing.LabelEncoder()

In [61]:
le.fit(df['Time'])

LabelEncoder()

In [62]:
df['Time'] = le.transform(df['Time'])

In [63]:
df.columns

Index(['id', 'name', 'screen_name', 'fav_number', 'statuses_count',
       'followers_count', 'friends_count', 'favourites_count', 'listed_count',
       'created_at', 'url', 'lang', 'time_zone', 'location', 'default_profile',
       'default_profile_image', 'geo_enabled', 'profile_image_url',
       'profile_banner_url', 'profile_use_background_image',
       'profile_background_image_url_https', 'profile_text_color',
       'profile_image_url_https', 'profile_sidebar_border_color',
       'profile_background_tile', 'profile_sidebar_fill_color',
       'profile_background_image_url', 'profile_background_color',
       'profile_link_color', 'utc_offset', 'protected', 'verified',
       'description', 'updated', 'dataset', 'Year', 'Month', 'Time'],
      dtype='object')

# Feature Engineering

In [64]:
X = df[['name', 'screen_name', 'fav_number', 'statuses_count',
       'followers_count', 'friends_count', 'favourites_count', 'listed_count', 'Year', 'Month', 'Time']]

In [65]:
y = df['dataset']

In [66]:
from sklearn.model_selection import train_test_split

In [67]:
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size = 0.2, random_state = 4)

In [93]:
X_train.shape

(2254, 11)

# Import Random Forrest

In [74]:
from sklearn import ensemble

In [76]:
rt_clf = ensemble.RandomForestClassifier(n_estimators = 100)

In [78]:
rt_clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [82]:
y_pred = rt_clf.predict(X_test)

In [84]:
rt_clf.score(X_test,y_test)

0.9964539007092199

In [88]:
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.metrics import accuracy_score

In [92]:
print(classification_report(y_pred,y_test.values))

              precision    recall  f1-score   support

           1       1.00      0.99      1.00       300
           2       0.99      1.00      1.00       264

    accuracy                           1.00       564
   macro avg       1.00      1.00      1.00       564
weighted avg       1.00      1.00      1.00       564

In [91]:
print('Accuracy Score:' ,accuracy_score(y_pred,y_test.values))

Accuracy Score: 0.9964539007092199